* {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bold;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #111111;
}

#criarPlaylist {
    justify-content: right;
    align-items: right;
}

#music-player {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    padding: 20px;
}

#playlist {
    list-style-type: none;
    flex: 1;
    overflow-y: auto;
}

#playlist li {
    display: flex; /* Usa flexbox para organizar os itens */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 10px; /* Espaçamento interno */
    border-bottom: 2px solid #437008; /* Linha de separação entre as músicas */
}

.is-selected {
    background-color: #437008;
    color: #FFFFFF;
    font-weight: bolder;
}

.musica-nome {
    flex-grow: 1; /* Faz o nome da música ocupar o espaço disponível */
}

.musica-tempo {
    display: flex; /* Usa flexbox para alinhar o tempo e o botão */
    align-items: center; /* Alinha verticalmente */
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    margin: 0 10px;
    cursor: pointer;
    color: #111111;
}

#controls button:hover {
    color: #437008
}

#info {
    display: flex;
    font-size: 18px;
}

#song-current-time {
    font-weight: normal;
}

#song-duration-time {
    font-weight: normal;
}

#progress-bar {
    accent-color: #437008;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#criar-playlist {
    padding: 4px;
    border: #111111 solid 1px;
    border-radius: 5px;
    width: 420px;
    height: 165px;
}

#editar-playlist {
    padding: 3px;
    border: #111111 solid 1px;
    border-radius: 5px;
    width: 420px;
    height: 260px;
}

#confirmar {
    bottom: 0;
    display: inline;
    background-color: #437008;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

#apagar {
    bottom: 0;
    display: inline;
    background-color: #437008;
    width: 70px;
    height: 38px;
    border-radius: 5px;
}

#adicionar {
    bottom: 0;
    display: inline;
    background-color: #437008;
    width: 70px;
    height: 38px;
    border-radius: 5px;
}

#tirar {
    bottom: 0;
    display: inline;
    background-color: #437008;
    width: 70px;
    height: 38px;
    border-radius: 5px;
}

#NovoNome {
    bottom: 0;
    display: inline;
    background-color: #437008;
    width: 70px;
    height: 38px;
    border-radius: 5px;
}
